{{#partial "content"}}
    {{#if editPost}}
        <h1>Edit this Team</h1>
        <form action="/states/{{state.id}}/posts/{{editPost.id}}/update" method="post">
            <label for="team">Team:</label>
            <input id="team" name="team" type="text" value="{{editPost.team}}">
            <label for="members">Members(seperated by ","):</label>
            <input id="members" name="members" type="text" value="{{editPost.members}}">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" value="{{editPost.password}}">
            <button type="submit" class="btn btn-default">Edit!</button>
    {{else}}
        <h1>Add a new Team</h1>
        <form action="/states/{{state.id}}/posts/new" method="post">
            <label for="team">Team</label>
            <input id="team" name="team" type="text">
            <label for="members">Members(seperated by ","):</label>
            <input id="members" name="members" type="text">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password">
            <button type="submit" class="btn btn-default">Go!</button>
    {{/if}}
    </form>
{{/partial}}

{{> layout.hbs}}