{{#partial "content"}}
    <p>State:</p>
    <p>{{state.name}}</p>
    <p>Teams:</p>
    <ul>
        {{#if teams}}
            {{#each teams}}
                <p>{{team}}</p>
            {{/each}}
        {{else}}
            <p>No Members!</p>
        {{/if}}
    </ul>
    <a href="/states/{{state.id}}/posts/new" class="button">+ Add Team</a>
    <a href="/posts/{{state.id}}/update">Edit this team</a>
    </p>
{{/partial}}
{{> layout.hbs}}